<div class="container">
 <div class="container-body">
    <mat-sidenav-container class="example-container">
        <mat-sidenav class="sidenavbar" mode="over" [(opened)]="isOpened" >
            <mat-nav-list class="navList">
                <mat-list-item>
                    <mat-icon matListIcon>account_circle</mat-icon>
                    <a matLine routerLink="/my-account">My Account</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>description</mat-icon>
                    <a matLine routerLink="/update-cv">Update CV</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>timeline</mat-icon>
                    <a matLine routerLink="/activity">Activity</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>group</mat-icon>
                    <a matLine routerLink="/friends">Friends</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>people</mat-icon>
                    <a matLine routerLink="/following">Following</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>work</mat-icon>
                    <a matLine routerLink="/applied-job-status">Applied Job Status</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>search</mat-icon>
                    <a matLine routerLink="/search-recruiter-post">Search Recruiter Post</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>settings</mat-icon>
                    <a matLine routerLink="/settings">Settings</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>policy</mat-icon>
                    <a matLine routerLink="/privacy-policy">Privacy Policy</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>gavel</mat-icon>
                    <a matLine routerLink="/terms-and-conditions">Terms and Conditions</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <a matLine routerLink="/logout">Logout</a>
                </mat-list-item>
            </mat-nav-list>

        </mat-sidenav>

 
        <button mat-icon-button class="example-icon" aria-label="example icon-button with menu icon" (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>

        </button>
    </mat-sidenav-container>
    
 </div>
 <div class="align-center" appearance="fill">
    <input class="search" placeholder="Search"  [formControl]="searchControl" >
    <button mat-icon-button matSuffix  class="search-button">
        <mat-icon>search</mat-icon>
    </button>
 </div>
 <div class="align-center">
    <button mat-icon-button class="example-icon" aria-label="example icon-button with menu icon">
        <mat-icon>message</mat-icon>
    </button>
    <span style="margin-right: 20px;">Chat</span>
 </div>
 
</div>

<div class="container-footer" style="margin-top:630px ;">
    <div class="footer">
        <div class="footer-text">
            <p>© 2025 Student Portal By Akash  Vyavhare</p>
        </div>
    </div>

 </div>
